@require '../../node_modules/vuetify/src/stylus/settings/_colors'

$navigation-drawer-width := 350px !important
$navigation-drawer-todo := 300px

$theme := {
  primary: $deep-purple.base
  accent: $red.accent-2
  secondary: $grey.lighten-1
  info: $blue.lighten-1
  warning: $amber.darken-2
  error: $red.accent-4
  success: $green.lighten-2
}
 
@require '../../node_modules/vuetify/src/stylus/main'

@require './_helpers'
@require './_auth'