<template>
    <v-container text-xs-center>
        <v-layout row wrap>
            <v-flex xs12 sm6 md4 offset-xs0 offset-sm4 offset-lg4>
                <v-stepper v-model="e1">
                    <v-progress-linear v-bind:indeterminate="true" v-if="indeterminateLinear"></v-progress-linear>
                    <v-stepper-header class="hide">
                        <v-stepper-step step="1" :complete="e1 > 1">Name of step 1</v-stepper-step>
                        <v-stepper-step step="2" :complete="e1 > 2">Name of step 2</v-stepper-step>
                        <v-stepper-step step="3" :complete="e1 > 3">Name of step 3</v-stepper-step>
                        <v-stepper-step step="4" :complete="e1 > 4">Name of step 4</v-stepper-step>
                        <v-stepper-step step="5" >Name of step 5</v-stepper-step>
                    </v-stepper-header>

                    <!-- STEP - 1 -->
                    <v-stepper-content step="1">
                        <form v-on:submit.prevent>
                            <v-text-field
                                label="E-mail"
                                v-model="email"
                                :error-messages="emailErrors"
                                @input="$v.email.$touch()"
                                @blur="$v.email.$touch()"
                                required></v-text-field>
                            <v-checkbox 
                                color="indigo"
                                label="Send me occational emails about vabotu."
                                v-model="occationalMail"
                            ></v-checkbox>
                            <v-btn @click.native="stage1()" :disabled="isValidEmail">submit</v-btn>
                        </form>
                    </v-stepper-content>

                    <!-- STEP - 2 -->
                    <v-stepper-content step="2">
                        <form v-on:submit.prevent>
                            <masked-input mask="111-11" 
                                placeholder="000-00" 
                                @input="code = arguments[1]" />
                            <v-alert info dismissible v-model="alert" v-if="invalidCode">
                              {{ invalidCode }}
                            </v-alert>
                            <v-btn @click.native="stage2()" :disabled="$v.code.$invalid">submit</v-btn>
                        </form>
                    </v-stepper-content>
                    <!-- STEP - 3 -->
                    <v-stepper-content step="3">
                        <form v-on:submit.prevent>
                            <v-text-field
                                label="Name"
                                v-model="first"
                                :error-messages="firstErrors"
                                @input="$v.first.$touch()"
                                @blur="$v.first.$touch()"
                                required
                            ></v-text-field>
                            <v-text-field
                                label="Last Name"
                                v-model="last"
                                :error-messages="lastErrors"
                                @input="$v.last.$touch()"
                                @blur="$v.last.$touch()"
                                required
                            ></v-text-field>
                            <v-text-field
                                label="Username"
                                v-model="username"
                                :error-messages="usernameErrors"
                                @input="$v.username.$touch()"
                                @blur="$v.username.$touch()"
                                required
                            ></v-text-field>
                            <!-- PWD -->
                            <password v-model="password" :badge="false"></password>
                            <v-btn @click.native="stage3()" :disabled="isValidProfile">submit</v-btn>
                        </form>
                    </v-stepper-content>
                    <!-- STEP - 4 -->
                    <v-stepper-content step="4">
                        <form v-on:submit.prevent>
                            <v-select
                                v-bind:items="usages"
                                v-model="questions.usage"
                                label="Select Usage"
                                single-line
                                :error-messages="questionUsageErrors"
                                @input="$v.questions.usage.$touch()"
                                @blur="$v.questions.usage.$touch()"
                                required
                                bottom
                            ></v-select>
                            <v-select
                                v-bind:items="kinds"
                                v-model="questions.kind"
                                label="Select Usage"
                                single-line
                                :error-messages="questionKindErrors"
                                @input="$v.questions.kind.$touch()"
                                @blur="$v.questions.kind.$touch()"
                                required
                                bottom
                            ></v-select>
                            <v-select
                                v-bind:items="strengths"
                                v-model="questions.strength"
                                label="Select Usage"
                                single-line
                                :error-messages="questionStrengthErrors"
                                @input="$v.questions.strength.$touch()"
                                @blur="$v.questions.strength.$touch()"
                                required
                                bottom
                            ></v-select>
                            <v-btn @click.native="stage4()" :disabled="isInvalidAnswers">submit</v-btn>
                        </form>
                    </v-stepper-content>
                    <!-- STEP - 5 -->
                    <v-stepper-content step="5">
                        <form v-on:submit.prevent>
                            <v-text-field
                                label="Company Name"
                                v-model="company_name"
                                @input="$v.company_name.$touch()"
                                @blur="$v.company_name.$touch()"
                                :error-messages="companyNameErrors"
                                required
                            ></v-text-field>
                            <v-text-field
                                label="Company Uri"
                                v-model="company_uri"
                                @input="$v.company_uri.$touch()"
                                @blur="checkCompanyUri()"
                                :error-messages="companyUriErrors"
                                :error="invalidURI"
                                required
                            ></v-text-field>
                            <v-checkbox 
                                color="indigo"
                                label="Agree to customer terms of service and to our privacy policy."
                                v-model="agreeToPolicy"
                            ></v-checkbox>
                            <v-btn @click.native="stage5()" :disabled="$v.$invalid">submit</v-btn>
                        </form>
                    </v-stepper-content>
                </v-stepper>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script>
    import MaskedInput from 'vue-masked-input'
    import { validationMixin } from 'vuelidate'
    import { required, maxLength, email } from 'vuelidate/lib/validators'
    import zxcvbn from 'zxcvbn'
    import Password from './PasswordStrength.vue'
    import gql from 'graphql-tag'
    import { IndeterminateProgress } from '../mixins/ProgressBar'

    export default {
        mixins: [validationMixin, IndeterminateProgress],
        components: { 
          MaskedInput,
          Password
        },
        validations: {
            first: { required },
            last: { required },
            email: { required, email },
            agreeToPolicy: { required },
            username: { 
                required,
                isUnique (value) {
                    // standalone validator ideally should not assume a field is required
                    if (value === '') return true

                    // simulate async call, fail for all logins with even length
                    return new Promise((resolve, reject) => {
                      setTimeout(() => {
                        let nameRegex = /^[\w.-]+$/i;
                        let validfirstUsername = this.username.match(nameRegex);
                        resolve(validfirstUsername);
                      }, 500)
                    })
                }
            },
            company_uri: {
                required
            },
            code: { required },
            password: { required },
            questions: {
              usage: { required },
              kind: { required },
              strength: { required }
            },
            company_name: { required }
        },
        data () {
            return {
                e1: 0,
                alert:true,
                pwd1:true,
                verifyCode: '',
                email: '',
                code:'',
                first:'',
                last:'',
                username:'',
                password:null,
                occationalMail:true,
                getVerificationCode:false,
                company_name: '',
                company_uri: '',
                usages: [
                    'state1',
                    'state2',
                    'state3',
                    'state4',
                ],
                kinds: [
                    'kind1',
                    'kind2',
                    'kind3',
                    'kind4',
                ],
                strengths: [
                    'strength1',
                    'strength2',
                    'strength3',
                    'strength4',
                ],
                questions: {
                    usage: '',
                    kind: '',
                    strength: ''
                },
                invalidCode:'',
                invalidURI:false,
                agreeToPolicy: false
            }
        },
        /*apollo: {
            verifyCode: {
                query: gql`query verifyCode($email: String!, $code: Int !) {
                    verifyCode(email: $email, code: $code)
                }`,
                loadingKey: 'loading',
                variables: {
                    email: 'jminvaja@gmail.com',
                    code: '89472'
                }
            }
        },*/
        methods: {
            stage1 () {
                this.e1 = 2;
                this.getVerificationCodeFn();
            },
            stage2 () {
                this.invalidCode = '';
                this.showProgressLinear();
                let variables = {
                    email: this.email,
                    code: this.code
                };
                this.$apollo.query({
                    // GraphQL document
                    query: gql`query verifyCode($email: String!, $code: Int !) {
                        verifyCode(email: $email, code: $code)
                    }`,
                    variables
                })
                .then((data) => {
                    this.e1 = 3;
                    this.restProgressLinear();
                }).catch((error) => {
                    this.invalidCode = "Invalid code!";
                    this.restProgressLinear();
                });
            },
            stage3 () {
                this.e1 = 4;
            },
            stage4 () {
                this.e1 = 5;
            },
            stage5 () {
                this.createCompany();
            },
            getVerificationCodeFn () {
                let newEmail = this.email;
                this.$apollo.mutate({
                    mutation: gql`mutation ($email: String!) {
                        getVerificationCode(email: $email)
                    }`,
                    variables: {
                        email: newEmail,
                    }
                })
                .then((data) => {
                  // Result
                  console.log(data)
                }).catch((error) => {
                  // Error
                  console.error(error)
                  // We restore the initial user input
                });
            },
            createCompany () {
                if ( this.$v.$invalid == false ) {
                    let variables = {
                        allow_occational_mail: this.occationalMail,
                        first: this.first,
                        last: this.last,
                        email: this.email,
                        username: this.username,
                        company_name: this.company_name,
                        company_uri: this.company_uri,
                        password: this.password,
                        code: this.code,
                        questions: this.questions,
                        agree: this.agreeToPolicy
                    };
                    this.$apollo.mutate({
                        mutation: gql`mutation ($first: String!, $last: String!, $email: String!, $username: String!, $company_name: String!, $company_uri: String!, $password: String!, $code: Int!, $questions: companyQuestionsInput, $allow_occational_mail: Boolean, $agree: Boolean! ) {
                            createCompany(first: $first, last: $last, email: $email, username: $username, company_name: $company_name, company_uri: $company_uri, password: $password, code: $code, questions: $questions, allow_occational_mail: $allow_occational_mail, agree: $agree)
                        }`,
                        variables
                    })
                    .then((data) => {
                      // Result
                      console.log(data)
                    }).catch((error) => {
                      // Error
                      console.error(error)
                      // We restore the initial user input
                    });
                }
                return false;
            },
            checkCompanyUri () {
                this.invalidURI = false;
                this.showProgressLinear();
                let variables = {
                    company_uri: this.company_uri
                };
                this.$apollo.query({
                    // GraphQL document
                    query: gql`query checkCompanyUri($company_uri: String!) {
                        checkCompanyUri(company_uri: $company_uri)
                    }`,
                    variables
                })
                .then((data) => {
                    this.restProgressLinear();
                    this.invalidURI = false;
                }).catch((error) => {
                    this.invalidURI = true;
                    this.restProgressLinear();
                });
            }
        },
        computed: {
            emailErrors () {
                const errors = []
                if (!this.$v.email.$dirty) return errors
                !this.$v.email.email && errors.push('Must be valid e-mail')
                !this.$v.email.required && errors.push('E-mail is required')
                return errors
            },
            isValidEmail () {
                if (this.email != '' && this.emailErrors.length == 0){
                    return false;
                }
                return true;
            },
            isValidProfile () {
                if(this.$v.first.$invalid 
                    || this.$v.last.$invalid 
                    || this.$v.username.$invalid 
                    || this.isValidPassword == false) {
                    return true;
                }
                return false;
            },
            firstErrors () {
                const errors = []
                if (!this.$v.first.$dirty) return errors
                !this.$v.first.required && errors.push('First name is required.')
                return errors
            },
            lastErrors () {
                const errors = []
                if (!this.$v.last.$dirty) return errors
                !this.$v.last.required && errors.push('Last name is required.')
                return errors
            },
            usernameErrors () {
                const errors = []
                if (!this.$v.username.$dirty) return errors
                !this.$v.username.required && errors.push('Username is required.')
                return errors  
            },
            passwordErrors () {
                const errors = []
                if (!this.$v.password.$dirty) return errors
                !this.$v.password.required && errors.push('Username is required.')
                return errors  
            },
            questionUsageErrors () {
                const errors = []
                if (!this.$v.questions.usage.$dirty) return errors
                !this.$v.questions.usage.required && errors.push('Usage is required.')
                return errors  
            },
            questionKindErrors () {
                const errors = []
                if (!this.$v.questions.kind.$dirty) return errors
                !this.$v.questions.kind.required && errors.push('kind is required.')
                return errors    
            },
            questionStrengthErrors () {
                const errors = []
                if (!this.$v.questions.strength.$dirty) return errors
                !this.$v.questions.strength.required && errors.push('strength is required.')
                return errors    
            },
            companyNameErrors () {
                const errors = []
                if (!this.$v.company_name.$dirty) return errors
                !this.$v.company_name.required && errors.push('Company name is required.')
                return errors    
            },
            companyUriErrors () {
                const errors = []
                if (!this.$v.company_uri.$dirty) return errors
                this.invalidURI && errors.push('Company Uri invalid.')
                !this.$v.company_uri.required && errors.push('Company URi is required.')
                return errors    
            },
            isValidPassword () {
                let score = this.password ? zxcvbn(this.password).score * 25: 0;
                return score > 25 ? true : false;
            },
            isInvalidAnswers () {
                if(this.$v.questions.usage.$invalid  
                    || this.$v.questions.kind.$invalid 
                    || this.$v.questions.strength.$invalid) {
                    return true;
                }
                return false;
            }
        },
        filters: {
            capitalize(str) {
              return str.charAt(0).toUpperCase() + str.slice(1)
            }
        }
    }
</script>