<template>
    <v-toolbar>
        <v-toolbar-title>Title</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-side-icon class="hidden-md-and-up"></v-toolbar-side-icon>
        <v-toolbar-items class="hidden-sm-and-down">
            <router-link to="/signin" tag="v-btn" class="btn--flat">Signin</router-link>
            <router-link to="/create" tag="v-btn" class="btn--flat">Create Company</router-link>
        </v-toolbar-items>
    </v-toolbar>
</template>
<script>
    export default {

    }
</script>