<template>
  <div>
    <v-text-field
      :id="id"
      ref="input"
      :name="name"
      :hint="hint"
      :label="label"
      v-model="password"
      v-bind:value="value"
      v-on:input="emitValue($event)"
      :required="required"
      :class="[defaultClass]"
      :placeholder="placeholder"
      :type="pwd1 ? 'password' : 'text'"
      :append-icon-cb="() => (pwd1 = !pwd1)"
      :append-icon="pwd1 ? 'visibility' : 'visibility_off'"
    ></v-text-field>
    
    <div
      class="Password__badge"
      v-bind:class="[isSecure ? successClass : '', !isSecure && isActive ? errorClass : '' ]"
      v-cloak
      v-if="badge"
      >
      {{ passwordCount }}
    </div>

    <div class="password-progress">
      <v-progress-linear
        class="progress-bar"
        v-bind:indeterminate="query"
        v-bind:query="true"
        v-model="passwordStrength"
        v-bind:active="show"
        :color-front="progreeClass" 
        color-back="grey lighten-2"
      ></v-progress-linear>
      
      <v-layout progress-meter-separator>
        <v-flex xs3 v-for="i in 4" :key="i" class="no-mrpd">&nbsp;</v-flex>
      </v-layout>
      
    </div>
  </div>
</template>

<script>
  import zxcvbn from 'zxcvbn'

  export default {
    props: {
      /**
       * Input field id
       * @type {String}
       */
      label: {
        type: String,
        default: 'Enter your password'
      },
      hint: {
        type: String,
        default: 'At least 8 characters'
      },
      /**
       * Input field id
       * @type {String}
       */
      id: {
        type: String,
        default: 'password'
      },
      /**
       * Input field placeholder text
       * @type {String}
       */
      placeholder: {
        type: String,
        default: 'Please enter your password'
      },
      /**
       * Binded value
       * @type {Object}
       */
      value: {
        type: String
      },
      /**
       * Input field name
       * @type {String}
       */
      name: {
        type: String,
        default: 'password'
      },
      /**
       * Input field required attribute
       * @type {Boolean}
       */
      required: {
        type: Boolean,
        default: true
      },
      /**
       * Password min length.
       * Right now only visual for the badge
       * @type {Number}
       */
      secureLength: {
        type: Number,
        default: 8
      },
      /**
       * Display badge:
       * The badge shows your
       * password character count
       * up to the defined secureLength
       * @type {Boolean}
       */
      badge: {
        type: Boolean,
        default: true
      },
      /**
       * CSS Class for the Input field
       * @type {String}
       */
      defaultClass: {
        type: String,
        default: ''
      },
      /**
       * CSS Class for the badge
       * if a password does not match
       * the secureLength. Later for errors
       * @type {String}
       */
      errorClass: {
        type: String,
        default: 'has-error'
      },
      /**
       * CSS Class for the badge
       * if a password does match
       * the secureLength. Later for
       * success messages possible.
       * @type {String}
       */
      successClass: {
        type: String,
        default: 'is-success'
      }
    },
    data () {
      return {
        pwd1:true,
        password: null,
        query: false,
        show: true,
        progress:"0"
      }
    },

    methods: {
      /**
       * Emit passowrd value to parent component
       * @param  {String} value password typed in
       */
      emitValue (value) {
        this.password = value
        this.$emit('input', value)
      }
    },

    computed: {
      /**
       * passwordStrength is the score calculated by zxcvbn
       * @return {Number} Password Strength Score
       */
      passwordStrength () {
        if(this.password) {
          let score = zxcvbn(this.password).score * 25
          let pwdRegex = /^(?=.*[\d])(?=.*[A-Z])(?=.*[!@#$%^&*])[\w!@#$%^&*]{8,16}$/;
          var ispassPwd = this.password.match(pwdRegex);
          if(ispassPwd == null || ispassPwd == false){
              return 25;
          }
          return score;
        }
        return 0
      },

      /**
       * isSecure checks if the length of the password is longer then
       * the defined `secureLength`
       * @return {Boolean} Password length longer then minLength
       */
      isSecure () {
        return this.password ? this.password.length >= this.secureLength : null
      },

      /**
       * isActive checks if a password is entered.
       * It's required for the password count badge.
       * @return {Boolean} Password entered
       */
      isActive () {
        return this.password && this.password.length > 0
      },

      /**
       * passwordCount holds the character count of the
       * current password. It shows the count up to the `secureLength`.
       * @return {Number} Password Character Count
       */
      passwordCount () {
        return this.password && (this.password.length > this.secureLength ? `${this.secureLength}+` : this.password.length)
      },

      progreeClass () {
        switch(this.passwordStrength){
          case 25:
              return "error";
              break;
          case 50:
              return "warning";
              break;
          case 75:
              return "info";
              break;
          case 100:
              return "success";
              break;
          default :
            return ''
        }
      }
    }
  }
</script>

<style>
  [v-cloak] {
    display: none;
  }

  .Password {
    max-width:  400px;
    margin:  0 auto;
  }

  .Password__badge {
    float: right;
    position: relative;
    bottom: 33px;
    right: 10px;
    color: white;
    border-radius: 6px;
    padding: 3px;
    width: 30px;
    height: 15px;
    font-size: 14px;
    line-height: 1.1;
  }

  .has-error {
    background: red;
  }

  .is-success {
    background: #1bbf1b;
  }
  .password-progress {
    position: relative;
    width: 100%;
  }
  .progress-bar{
    width: 100%;
    position: absolute;
    height: 3px;
    background: #DDD;
    margin: 10px auto 20px;
    border-radius: 3px;
    z-index: 1;
    margin: 0;
  }
  .progress-meter-separator{
    position: absolute;
    height: 7px;
    z-index: 10;
    background: transparent;
    width: 100%;

  }
  .progress-meter-separator .flex{
    border-right: 5px solid #FFF;
    /*border-left: 5px solid #FFF;*/
  }
  .progress-meter-separator .flex:last-child{
    border:none;
  }
</style>